cfgv==3.4.0
click==8.1.7
distlib==0.3.9
filelock==3.16.1
identify==2.6.3
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pre_commit==4.0.1
pycodestyle==2.12.1
pyflakes==3.2.0
python-dotenv==1.0.1
PyYAML==6.0.2
ruff==0.8.0
-e git+ssh://git@github.com/pavelepanov/url_shortener.git@7b4dc1f0e18e4abf18d3a46cf03b2e83da542820#egg=url_shortener
virtualenv==20.28.0
